.App {
  text-align: center;
}

/* Responsive Styles */


.cardbackground:hover {
  color: green;
}

body {
  background-color: white;
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mobilelogoutbutton {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1600px) {
  #card1 {
    width: 340px;
  }

  #card2 {
    width: 340px;
  }

  .divv {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1434px) {
  #card1 {
    width: 320px;
  }

  #card2 {
    width: 320px;
  }

  .divv {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1354px) {
  #card1 {
    width: 300px;
    margin-left: 10px;
  }

  #card2 {
    width: 300px;
    margin-left: 10px;
  }

  .divv {
    /* margin-right:-100px; */
  }
}

@media screen and (max-width: 1318px) {
  #card1 {
    width: 280px;
    margin-left: 20px;
  }

  #card2 {
    width: 280px;
    margin-left: 20px;
  }

  .divv {
    /* margin-right:-100px; */
  }
}

@media screen and (max-width: 1270px) {
  #card1 {
    width: 270px;
    margin-left: 20px;
  }

  #card2 {
    width: 270px;
    margin-left: 20px;
  }

  .divv {
    /* margin-right:-100px; */
  }
}

@media screen and (max-width: 1236px) {
  #card1 {
    width: 260px;
    margin-left: 20px;
  }

  #card2 {
    width: 260px;
    margin-left: 20px;
  }

  .divv {
    /* margin-right:-100px; */
  }

  .tableResponsive {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1186px) {
  #card1 {
    width: 375px;
    height: 200px;
    margin-left: 25px;
  }

  .mobilelogoutbutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card2 {
    width: 375px;
    height: 200px;
    margin-left: 25px;
  }

  .divv {
    padding-left: 20px;
    /* margin-right:-100px; */
  }

  #sidebarVanish {
    display: none;
  }

  .FileSystemVanishResponsive {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .Detailresponsive {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardresponsiveback {
    min-width: 100%;
    margin-left: 5px;
  }

  .image {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

}

@media screen and (max-width: 1154px) {
  #card1 {
    width: 350px;
  }

  #card2 {
    width: 350px;
  }

  .divv {
    /* margin-right:-100px; */
    padding-left: 20px;
  }
}

@media screen and (max-width: 1126px) {
  #card1 {
    width: 350px;
  }

  #card2 {
    width: 350px;
  }

  .divv {
    /* margin-right:-100px; */
    padding-left: 10px;
  }
}

@media screen and (max-width: 1080px) {
  #card1 {
    width: 340px;
  }

  #card2 {
    width: 340px;
  }

  .divv {
    /* margin-right:-100px; */
  }
}

@media screen and (max-width: 1060px) {
  #card1 {
    width: 330px;
  }

  #card2 {
    width: 330px;
  }

  .divv {
    /* margin-right:-100px; */
  }
}

@media screen and (max-width: 960px) {
  #inpresponsive {
    width: 247px;
  }
}

@media (max-width: 600px) {
  .swal2-popup {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .responsive-sweetalert {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #datainpresponsive{
    width:247px;
  }
}

@media screen and (max-width: 500px) {
  .Detailresponsive {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .FileSystemVanishResponsive {
    min-width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }

  .statusResponsive {
    margin-left: -30px;
  }
}

@media screen and (max-width: 451px) {
  .navbarpara {
    font-size: 17px;
  }

  .navbarspan {
    font-size: 11px;
  }

  #navbarimg {
    width: 50px;
    height: 50px;
  }

  #navbaricon {
    margin-right: -35px;
  }

  #navbarname {
    margin-left: -20px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image>h1 {
    font-size: 40px;
  }

  .imagefiledetail {
    min-width: 270px;
    min-height: 40px;
  }
}

@media screen and (max-width: 380px) {
  #tabletop {
    display: block;
    width: 100%;
  }

  #cardresponsive {
    width: 137%;
  }
}

@media screen and (max-width: 380px) {
  #navbarimg {
    max-width: 90px;
    padding-left: 5px;
    max-height: 50px;
  }

  .navbarpara {
    font-size: 15px;
  }

  .navbarspan {
    font-size: 10px;
  }

  #navbaricon {
    margin-right: -25px;
  }
}

.center-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgqr {
  margin-left: 102px;
}